# Dependencies
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local

# Build output
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store

# Testing
coverage/

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Backend specific
backend/.env
backend/node_modules
backend/dist

# Frontend specific
frontend/.env
frontend/node_modules
frontend/dist
frontend/.vite

# Uploads
uploads/
